@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');


body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: arial;
}

#grid-display {
    display: grid;
    grid-template-columns: 220px auto auto;
    grid-template-rows: 80px auto 50px;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header,#footer {
    grid-column-start: 1;
    grid-column-end: 4;
    box-sizing: border-box;
}

#header {
    height: 80px;
    color: white;
    font-size: 15px;
    text-align: center;
    list-style: none;
}

#footer {
    background-color: black;
    width: 100%;
    height: 50px;
    color: white;     
    font-size: 15px;
    text-align: center;
    padding-top:10px;      

}


#menu {
    text-align: center;
    background-color: #5CA47A;
    padding: 12px;
    font-family: Carter one, arial;
    
} 

a {
    color: white;
    text-decoration: none;
}


#menu li:hover, #menu a:hover {

    color: orange;

}

#menu li> ul > li {
    border: 1px solid black;
    margin-top:-2px;
    margin-left:-2px;
    background-color: #25335D;
    text-align: center;
    font-size: 15px;
    transform: translateX(-40px);
    
} 




.texto-menu {
    font-family: arial;
    font-size: 15px;
    margin: 10px;
    padding: 5px;
    text-align: left;
    text-indent: 1em;
}

#content {
    background-color: silver;
    color: black;
    font-family: Carter one, arial;
    padding:40px;

}

#content h3, #content h2 {
    color: black;
    text-align: left;    
    display: inline;
    font-size: 25px;
    
       
  

}

#content caption {
    text-align: left;

}

#content tr {
    background-color: #f2f2f2;

}



#content table {

    padding: 2px;    
    text-align: center;
    border-collapse: collapse;
    border:2px solid green;

}

#content table button {
    background-color: green;
    cursor: pointer;

}

#content th {

 font-size: 18px;
 font-family: Carter one, arial;
 text-align: center;
 vertical-align: middle 
}

 #content tbody {
    padding: 15px;
    font-family: Arial, Helvetica;
    font-size: 15px; 
    font-weight: bold;   
    
}
    

.externo-itens-content {
    display: grid;
    grid-template-columns: 260px 260px 260px;
    column-gap: 20px;
    justify-content: space-evenly;
    align-content: space-evenly;
    justify-items: center;
    align-items: center;
}

.itens-content {
    border: 1.5px solid #5CA47A;
    height: 240px;
    width: 240px;
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
}

.itens-content button {
    text-align: center;
    background-color: red;
    font-family: arial;
    border: 0;
    width: 80px;
    height: 30px;
    cursor: pointer;
    border-radius: 4px;    
    font-weight: bold;
    color: white;
    font-size: 13px;
}

.itens-content img {
    width: 180px;
    height: 60px;
    margin: 10px;
}



.itens-content:hover {
    -webkit-transform: scale(1.15);
    /* Safari and Chrome */
    -moz-transform: scale(1.15);
    /* Firefox */
    -ms-transform: scale(1.15);
    /* IE 9 */
    -o-transform: scale(1.15);
    /* Opera */
    transform: scale(1.15);
    background: linear-gradient(green, white);
}

.descricao-item {
    font-size: 13px;
    color: black;
    text-align: center;
    padding: 5px
}

.nome-item {
    font-size: 15px;
    font-weight: bolder;
    color: black;
    text-align: center;
    padding: 10px;
}

.preco-item {
    font-size: 15px;
    font-weight: bolder;
}

 .botao-carrinho button {
    margin-top: 20px;
    text-align: center;
    background-color: green;
    border: 0px;
   font-weight: bolder; 
  width: 300px;
  height: 50px;  
  cursor: pointer;
  border-radius: 4px;  
  color: white;
  font-size: 18px;
  vertical-align: center;
}



#header1 {
    width: 100%;
    height: 30px;
    color: white;
    box-sizing: border-box;
    padding-right: 20px;
    text-align: right;
    line-height: 30px;
    background-color: black;
}


.top-menu {
    width: 100%;
    height: 50px;
    background-color: #25335D;
    color: white;
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
    margin: 0;
}

.top-menu img {
	width:20px;
}


ul.top-menu {
    position: relative;
}

ul.top-menu ul {
    display: none;
}

ul.top-menu li:hover>ul {
    display: block;
    cursor: pointer;
}

.top-menu {
    float: left;
}

ul.top-menu,
ul.menu ul {
    list-style-type: none;
    padding: 0;
}

.top-menu ul,
.top-menu li {
    margin: 0;
    padding-left: 20px;
    list-style: none;
    cursor: pointer;
    color: white;
}

ul.top-menu>li {    float: left;
}

ul.top-menu li {
    width: 120px;
    height: 50px;
    background-color: #25335D;
}

.top-menu li {
    padding-right: 20px;
    line-height: 50px;
    font-size: 14px;
    float: left;
    transition: all 0.6s linear;
    width: 120px;
    height: 50px;
}

ul.top-menu li {
    background-color: #25335D;
    width: 120px;
    height: 50px;
}

ul.top-menu ul ul {
    margin-left: 100%;
    margin-top: -50px;
}

ul.top-menu li:hover {
    background-color: #5CA47A;
    text-decoration: none;
    font-size: 16px;
    font-family: arial black;
    color: white;
}

ul.top-menu>li>ul>li {
    position: relative;
    background-color: black;
    margin-left: -40px;
}

#categorias-menu{
	font-size: 13px;
	text-align: left;
}

#categorias-menu li > ul > li {
	color: #25335D;
}

#categorias-menu ul, #categorias-menu li {
	list-style: none;
    cursor: pointer;
}

.header-text {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    font-family: arial black;
}

#empresa {
    background-color: blue;
    padding: 15px;
    column-count: 3;
    column-gap: 40px;
    text-indent: 4em;
    text-align: justify;
    padding: 10px;
    font-size: 20px;
}

#contato {
    background-color: red;
    padding: 10px;
    margin: 10px;
}

#aside {

    background-color: silver;
    position:relative;
        
}

.menu-mobile {

    width:100%;
    height:40px;
    display:none;
    background-color: #25335D;  
}

/*responsividade para tablet*/
@media (min-width: 481px) and (max-width: 820px) {


    #grid-display {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 80px auto 50px;
  
}

#header,#footer {
    grid-column-start: 1;
    grid-column-end: 4;
    box-sizing: border-box;
}


#menu {
    display: none;
}


#header1 {     
    
    text-align: center;
        
}


#content table {

    padding: 0px; 
   

}



.top-menu img {
    width:15px;
}

.top-menu ul,
.top-menu li  {    
    padding-left:10px;
 
}

ul.top-menu li {
    
    width: 80px;
    
}

.top-menu li {
    padding-right: 10px;
    font-size: 12px;
    width: 80px;
   
}



ul.top-menu li:hover {
    font-size: 14px;
    font-family: arial;
    color: white;
}

ul.top-menu>li>ul>li {
   
    margin-left: -20px;
}
 




}

/*responsividade para celular*/
@media (max-width: 480px)   {

    * {
        margin:0;
    }

    #grid-display {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px auto 50px;
   
}


.menu-mobile {
    
    display: flex;
    margin: 0;
    color: white;
    text-align: center;
    line-height: 40px;  

}

.texto-menu-mobile {
    
    padding-right: 140px;
    font-family: Carter one, arial;
    

}

   #menu, #empresa, #header, #aside {
        display: none;
    }

    #content {
        margin: 0;
        padding-left:10px;
        padding-top: 10px;
    }



   #header,#footer,#content, #menu, #aside {
    grid-column-start: 1;
    grid-column-end: 3;
    box-sizing: border-box;
}


    .externo-itens-content {      
       
        display: grid;        
        grid-template-columns: 250px;
        justify-content: space-evenly;
        align-content: space-evenly;
    }

 

   

ul.menu-mobile {
    
            position:relative;
            font-size: 11px;            
            color: white;
            text-align: center;
            font-weight: bold;

            
        }


        ul.menu-mobile ul {
            
            display: none;             
            

            
            
        }

        ul.menu-mobile li:hover > ul {
            display: block;
            cursor:pointer;               
                   

        }

        ul.menu-mobile li:hover, ul.menu-mobile a:hover {
            
           background-color: #5CA47A;
           display: block;
        }
         
        ul.menu-mobile, ul.menu-mobile ul {
            list-style-type: none;
                      
        }

        
        ul.menu-mobile li {

            background-color:#25335D;            
            width:80px;
            height: 40px;
            line-height: 40px;
        }

        ul.menu-mobile > li > ul {

            transform: translateX(-80px);                 

        } 

        
        ul.menu-mobile > li > ul > li {

           position: relative;
           background-color: black;
           padding-left: 5px;


        }     

        
    
       
        ul.menu-mobile li li {
            
            margin-left: 100%;
            margin-top:-1px; 
                    
           
        }

        ul.menu-mobile ul ul {
            
            margin-top:-40px;            
                     
            

        }

        ul.menu-mobile ul ul > li{  

            position: relative;            
            z-index: +2;
            padding-left: 5px;                 
            

        } 

        #content h3, #content h2 {
    color: black;
    text-align: left;    
    display: inline;
    font-size: 15px;
    
       
  

}

#content caption {
    text-align: left;
    font-size: 15px;

}


#content table{
    border:1;
    width: 350px;
    padding: 1px;    
    text-align: center;
}


#content th {

 font-size: 12px;
 font-family: Carter one, arial;
 text-align: center;
 vertical-align: middle 
}

 #content tbody {
    
    font-family: Arial, Helvetica;
    font-size: 10px; 
    font-weight: bold;   
    
}

#content table button{
    width: 20px;
    text-align: center;
    
}

#content button {
    width:150px;
    font-size: 15px;
}






       
    #footer {
            font-size: 13px;
            padding-top:10px;
            height: auto;

    }


  
}